@model PizzaVM

@{
    string delivered = "Not delivered yet!";
    if (ViewBag.Show == true)
    {
        delivered = "Order is delivered!";
    }
}

<h2>Index</h2>


<div>
    <h4>@delivered</h4>
    <hr />
    <h2>
        @Model.Name
    </h2>
    <h3>
        Price: @Model.Price
    </h3>

    @if (ViewBag.Show == true)
    {
        <div> Order is delivered</div>
        <div>@DateTime.Now</div>
    }
<ul>
    @foreach (var pizza in ViewBag.Pizzas)
    {
        <li>Name: @pizza.Name , Size: @pizza.Size</li>
    }
</ul>
   

</div>

@*
    MAIN RULE: To write C# code in HTML must be lead with @ at beginning
    - Write C# code in one line: @
    - Write C# code in multi lines: @{  write c# code in many lines as I need }
*@